#ar_ban{
    background: #8f9bad;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 155px;
    margin-bottom: 50px;
    }
    
    .latest_news h4{
        font-size: 20px;
        line-height: 28px;
    }
    .latest_news .nw_sh{
        margin-top: 10px;
    }
    .ar_cle .ar_cle_info{
        position: relative;
    }
    .ar_cle .text-center{
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
    }
    .ar_cle .ar_cle_info .hover_a{
        position: absolute;
        top: 5% !important;
        left: 5% !important;
    }
    .ar_cle .ar_cle_info img{
        height: 200px;
    }
    .ar_cle .ar_cle_info .hd_3 a{
        color: #203656;
    }
    .ar_cle .ar_cle_dots{
        position: absolute;
    }